graft docs
graft fortranapex
graft .github

recursive-include *.rst
include LICENSE
include .zenodo.json
include pyproject.toml
include .codeclimate.yml *.yml

global-exclude *.py[cod~] __pycache__ *.so *.dylib
