graft docs
graft fortranapex
graft .github

include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst
include CODE_OF_CONDUCT.md
include .zenodo.json

include .codeclimate.yml pyproject.toml

global-exclude *.py[cod~] __pycache__ *.so *.dylib
