graft docs
graft fortranapex
graft .github

recursive-include apexpy *.txt apexsh.dat meson.build

include *.rst
include *.md
include LICENSE
include .zenodo.json
include pyproject.toml
include .codeclimate.yml *.yml
