# This workflow will install Python dependencies, run tests and lint with a
# variety of Python versions. For more information see:
# https://help.github.com/actions/language-and-framework-guides/
# using-python-with-github-actions

name: pytest with flake8

on: [push, pull_request]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.7", "3.8", "3.9", "3.10"]

    env:
       FC: gfortran

    name: Python ${{ matrix.python-version }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install standard and test dependencies
      run: |
        pip install numpy coveralls pytest coverage flake8
        python setup.py clean --all build_ext --force --inplace

    - name: Install on Linux
      if: ${{ matrix.os == 'ubuntu-latest' }}
      run: python setup.py install

    - name: Install on MacOS
      if: ${{ matrix.os == 'macos-latest' }}
      run: |
          brew reinstall gcc
          which gfortran
          CFLAGS="-falign-functions=8 ${CFLAGS}" python setup.py install

    - name: Install on Windows
      if: ${{ matrix.os == 'windows-latest' }}
      run: python setup.py install

    - name: Test PEP8 compliance
      run: flake8 . --count --show-source --statistics

    - name: Evaluate complexity
      run: flake8 . --count --exit-zero --max-complexity=10 --statistics

    - name: Run unit and integration tests
      run: coverage run --rcfile=setup.cfg -m pytest

    - name: Publish results to coveralls upon success
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: coveralls --rcfile=setup.cfg --service=github
